$primary-font: Poppins;
$color1: rgb(104, 88, 223);
$color2: rgb(255, 253, 253);
$color3: rgb(209, 161, 28);
$color4: rgba($color3, 0.5);
$card-bg-image: url("../img/bg.jpg");
$colors: (
  youtube: red,
  instagram: green,
  facebook: blue,
);

$brs: 20px;
